.post {
  display: flex;
  flex-direction: column;

  position: relative;

  max-width: 300px;

  overflow: hidden;
  padding-top: 35px;
  padding-left: 35px;

  // Colors

  img {
    width: 100%;
    aspect-ratio: 4 / 2;
  }

  .content {
    border-radius: 5px;
    overflow: hidden;

    > div {
      .title {
        font-size: clamp(20px, 10vw, 24px);
        margin: 10px 0;
      }

      p {
        margin: 0;
        text-align: justify;

        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }

  .author {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: flex-start;
    gap: 6px;

    width: 100%;

    img {
      aspect-ratio: 1 / 1;
      max-width: 50px;
      border: 4px solid #98ace1;
      border-radius: 10px;
    }
  }
}
