.post {
  width: 100%;
  max-width: 318px;

  display: flex;
  flex-direction: column;
  position: relative;

  margin: 10px;

  img {
    width: 100%;
    max-width: 318px;
    max-height: 183px;
    // aspect-ratio: 318 / 183;

    border-radius: 3px;
  }

  p {
    margin: 0;
    text-align: justify;

    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .title {
    font-size: 24px;
    font-weight: 600;
  }

  .author {
    display: flex;
    align-items: center;
    margin: 10px 0;

    img {
      max-width: 50px;
      aspect-ratio: 1 / 1;
    }
  }
}
