.landingPopular {
  padding: 30px 5% 0 5%;

  > h2 {
    color: var(--clr-fg);
    opacity: 0.4;
    font-size: 20px;
  }

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
