.landingContent {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  place-content: center;

  margin: 15px;
  gap: 10px;

  .postToday {
    .title {
      font-size: 45px;
      margin-top: 0;
      margin-bottom: 10px;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    padding: 0 50px 0 15px;
    border-right: 1px solid #00000080;
  }

  .popular {
    margin: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title {
      font-size: 24px;
      margin: 0;
    }
  }
}
